$family-sans-serif: "Montserrat", sans-serif;
$family-serif: "Crete Round", serif;

$dark-grey: #717171;
$pale-teal: #a1b6a3;
$warm-grey: #a18f7b;
$warm-grey-light: #fcfbf3;
$brown: #716d65;
$gunmetal: #566a6e;
$dark-grey-blue: #2d4558;
$white: #ffffff;
$very-light-grey: #f1f1f1;
$white-two: #fafafa;
$grey-blue: #688f96;
$darker-grey: #444444;
$very-light-grey-two: #f3f2f2;
$very-light-grey-three: #d8d8d8;
